$superpurple: #5435ae;
$lightpurple: #F4F1F9;

$superlightgray:  #EFEFEF;
$lightgray:       #D4D4D4;
$gray:            #C4C4C4;

.clb { clear: both; }

.superb-calendar {
  position: relative;
  margin: 30px 0;
  .days-wrap {
    border-left: 1px solid $superlightgray;
    .day {
      border: 1px solid $superlightgray;
      border-left: none;
      float: left;
      padding: 10px 0;
      width: 14%;
      text-align: center;
      background: $lightpurple;
    }
    display: block;
  }
  .date {
    width: 14%;
    float: left;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid $superlightgray;
    border-right: 1px solid $superlightgray;
    &.hovered-in-range, &.in-range {
      background: $lightpurple;
    }

    &:hover {
      background: $superpurple;
    }
    &.selected {
      background: $superpurple;
      color: #fff;
    }
    &.next-or-prev-month, &.unavailable {
      background: $superlightgray;
      color: $gray;
      &:hover {
        background: $superlightgray;
      }
    }
    &.unavailable {
      cursor: not-allowed;
      text-decoration: line-through;
    }
    &.hover-in-duration {
      background: $lightpurple;
      border-color: $superpurple;
    }
    &.selected-in-duration {
      background: $superpurple;
      border-color: $superpurple;
      color: #fff;
    }
  }
}

#debug-wrap {
  width: 800px;
  margin: 50px auto;
  pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    border-radius: 4px;
  }
}
