<div class="booking-calendar">
  <div class="days-wrap" ng-repeat="(monthNumber, month) in calendar" ng-show="monthNumber == currentMonth">
    <div class="day"><span>P<span class="hidden-xs">on</span></span></div>
    <div class="day"><span>U<span class="hidden-xs">to</span></span></div>
    <div class="day"><span>S<span class="hidden-xs">ri</span></span></div>
    <div class="day"><span>Č<span class="hidden-xs">et</span></span></div>
    <div class="day"><span>P<span class="hidden-xs">et</span></span></div>
    <div class="day"><span>S<span class="hidden-xs">ub</span></span></div>
    <div class="day"><span>N<span class="hidden-xs">ed</span></span></div>
    <br>
    <span ng-repeat="date in month"
      class="date {{(((date.date | unixtimestamp) > (rangeStartDate.date | unixtimestamp)) && ((date.date | unixtimestamp) < (hoveringOnDay.date | unixtimestamp))) ? 'hovered-in-range' : ''}}"
      ng-class="{'next-or-prev-month': date.nextMonth || date.prevMonth, 'selected': date.selected, 'in-range': date.inRange}"
      ng-click="clickedDate(date)"
      ng-mouseover="hoveringDate(date)"
      >
      <span>{{date.date | date: 'd' }}</span>
    </span>
    <div class="clearfix"></div>
    <hr>
  </div>
</div>
